 
<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color:#AAFC02;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <div>
         <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
            <i class="material-icons md-18">thumb_up</i>
        </a>
        <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
            <i class="material-icons md-18">thumb_down</i>
        </a>
        {{destino.votes}}
        <a href="#" (click)="voteReset()"><i class="material-icons md-18">restart_alt</i></a>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis voluptas otam</p>
    <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">IR!</a>
    <span *ngIf="destino.isSelected()">
        <span ngNonBindable>{{ PREFERIDO! }}</span>
    </span>

    <span *ngIf="destino.isSelected()">
        <span ngNonBindable>{{ PREFERIDO }}</span>

    </span>
    <a [routerLink]="['/destino', destino.id]">Ver detalle</a>
</div>
</div>
