<div class="container content">
	<div class="row">
		<div class="col-md-6">
		Hola mundo 
		</div>
		<div class="col-md-6">
			desde el app cargando el saludador
		</div>
	</div>
</div>
 <ul class="list-group">
  <li class="list-group-item">First item</li>
  <li class="list-group-item">Second item</li>
  <li class="list-group-item">Third item</li>
</ul> 
