<form class="form-inline" *ngIf="!authService.getUser()">
  <div class="form-group">
    <label for="username"> User: (type<em>user</em>)</label>
    <input type="text" name="username" class="form-control" #username>
  </div>
  <div class="form-group">
    <label for="password">Password: (type <em>password</em>)</label>
    <input type="password" name="password" #password class="form-control">
  </div>
  <a class="btn btn-default" (click)="login(username.value, password.value)">Entrar!</a>
  {{mensajeError}}
</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>